@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Koulen&family=Libre+Franklin:ital,wght@1,100&display=swap');



.footer{
    margin-top: 14vh;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
}

a{  
    text-align: center;
    color:white;
    margin-left: 15px;
}

#monlogo{
    margin-left:1vh;
    background-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
     width:9vh;
    height:8vh; 
}

li{
    font-family: 'Pacifico', cursive;
    display:inline-block;
    margin-left: 71vh;
    text-align: center;
    margin-top: 1vh;
    font-size: 3vh;
}
