*{
  margin: 0;
}
  .container {
    background-color: #48CAE4;
    
    width: 1440px;
    height: 730px;
    display: -ms-grid;
    display: grid;
    place-items: center;

  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }
 
  .img {
  
    width: 50vh;
    height:30vh;
    -o-object-fit: cover;
       object-fit: cover;
 
  }
  


  .img__container {
    height: 20vh;
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  

  
  .content {
    
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
  }
  
  #Email {
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  #Name{
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  #Password{
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
  
  #ConfirmPassword{
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }

  ::-webkit-input-placeholder {
    color: #111127;
  }
  
  :-ms-input-placeholder {
    color: #111127;
  }
  
  ::-ms-input-placeholder {
    color: #111127;
  }
  
  ::placeholder {
    color: #111127;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  /* .popup {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 140vh;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    transition: all 5s ease-in-out;
  } */
  
  label input[type="checkbox"] {
    display: none;
}

h2{
  margin-top: 0;
  color:white;
  place-items: center;
  text-align: center;
background-color: #58644c;
}

.close {
  /* position: absolute; */
  margin-right: 10px;
  /* right: 32px; */
  /* top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3; */
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: red;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
