{{define "completePost"}}
<dialog id="Form" >
      
         <a class="close" href="">&times;</a>
        <div class="hehe">
          <h3>This post</h3>
        </div>
        
        <div class="grandRectangle">
          <p>{{.Title}}</p>
        </div>
        <div class="petitRectangle"></div>
        <div class="basRectangle">
          <img id="like" onclick="myFunction()" src="../Static/like.png"></img>
          <img id="dislike" src="../Static/dislike.png"></img>
          <img id="commentaire" src="../Static/commentaire.png"></img>
          
        </div>
        <dialog id="comment-form">
          <input class="" type="text" placeholder="Comment Please" />
          <p>heeeeeee</p>
        </dialog>
       
  
     
        <!-- <div class="Catégories" >
          <p>Catégories:</p>
          <div class="box">
            <select id="categorie">
              <option>Drugs</option>
              <option>Erotica</option>
              <option>Counterfeit</option>
              <option>Tutorials</option>
              <option>Guns</option>
              <option>SoftWare</option>
              <option>Games</option>
              <option>JSP</option>
            </select>
          </div>
        </div> -->
          
          <!-- </div>
          <div class="Titre">
            <input type="text" placeholder="Le Titre "  id="title"></input>
          </div> 
          <div class="Description">
            <input type="text" placeholder="Description" id="description"></input>
          </div> 
          <button onclick="newPost()" id="submit">Crée le post</button>            
          

      </div> -->
</dialog>
<dialog id="comment-form">
  <input class="" type="text" placeholder="Comment Please" />
  <p>heeeeeee</p>
</dialog>
<script>
  function myFunction() {
    var $counter=0;
      $(".like").click(function() {
          $('#counter').val($counter++);
      });
      $(".dislike").click(function() {
          $('#counter').val($counter--);
      });
  }


  document.getElementById('commentaire').addEventListener('click', () => {
  let div = document.createElement('div');
  div.innerHTML = '<p>CreateElement example</p>';
  document.body.appendChild(div);
  });

</script>
{{end}}