{{define "completePost"}}
<dialog id="Form{{.Id}}" class="detail">
      
         <a class="close" href="">&times;</a>
        <div class="tt">
          <h4>{{.Title}}</h4>
        </div>
        
        <div class="grandRectangle">
          <p>Nom de l'utilisateur </p>
        </div>
        <div class ="petitRectangle">
          <h4>{{.Description}}</h4>
        </div>
        <div class="basRectangle">
          <img id="like" onclick="myFunction()" src="../Static/like.png"></img>
          <img id="dislike" src="../Static/dislike.png"></img>
          <img id="commentaire" src="../Static/commentaire.png"></img>
          
        </div>
        <dialog id="comment-form">
          <input class="" type="text" placeholder="Comment Please" />
          <p>heeeeeee</p>
        </dialog>
       
  
     
        <!-- <div class="Catégories" >
          <p>Catégories:</p>
          <div class="box">
            <select id="categorie">
              <option>Drugs</option>
              <option>Erotica</option>
              <option>Counterfeit</option>
              <option>Tutorials</option>
              <option>Guns</option>
              <option>SoftWare</option>
              <option>Games</option>
              <option>JSP</option>
            </select>
          </div>
        </div> -->
          
          <!-- </div>
          <div class="Titre">
            <input type="text" placeholder="Le Titre "  id="title"></input>
          </div> 
          <div class="Description">
            <input type="text" placeholder="Description" id="description"></input>
          </div> 
          <button onclick="newPost()" id="submit">Crée le post</button>            
          

      </div> -->
</dialog>
<dialog id="comment-form">
  <input class="" type="text" placeholder="Comment Please" />
  <p>heeeeeee</p>
</dialog>
{{end}}