{{define "completePost"}}
<dialog id="Form{{.Id}}" class="detail">

  <a class="close" href="">&times;</a>
  <div class="tt">
    <h4>{{.Title}}</h4>
  </div>

  <div class="grandRectangle">
    <p>Nom de l'utilisateur </p>
  </div>
  <div class="petitRectangle">
    <h4>{{.Description}}</h4>
  </div>
  <div class="basRectangle">
    <img id="like" src="../Static/like.png"></img>
    <img id="dislike" src="../Static/dislike.png"></img>
    <img id="commentaire" src="../Static/commentaire.png"></img>
    <div class="comments">
      <input type="text" id="infos" placeholder="Write an Comment">
      <button id="com" onclick="myFunction()">Comment</button>
      <div id="yo"></div>
    </div>

  </div>



  <!-- <div class="Catégories" >
          <p>Catégories:</p>
          <div class="box">
            <select id="categorie">
              <option>Drugs</option>
              <option>Erotica</option>
              <option>Counterfeit</option>
              <option>Tutorials</option>
              <option>Guns</option>
              <option>SoftWare</option>
              <option>Games</option>
              <option>JSP</option>
            </select>
          </div>
        </div> -->

  <!-- </div>
          <div class="Titre">
            <input type="text" placeholder="Le Titre "  id="title"></input>
          </div> 
          <div class="Description">
            <input type="text" placeholder="Description" id="description"></input>
          </div> 
          <button onclick="newPost()" id="submit">Crée le post</button>            
          

      </div> -->
</dialog>

<script>
  function myFunction() {
    let input = document.getElementById("infos").value;
    let test = document.getElementById("yo").innerHTML +=
      `<div class="comment">
                <span>
                    ${input}
                </span>
            </div>`;

    fetch("/drugs",
      {
        method: "POST",
        headers: {
          "content-type": "application/json"
        },
        body: JSON.stringify({
          input: input
        })
      }).then((res) => {
        console.log(res);
        return res.json()
      })
      .then((res) => {
        const abs = document.getElementById("absolute")

        abs.innerText = res.test
      })
  }

</script>
{{end}}