{{define "navbar"}}

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-title">
        <nav role="navigation">
            <div id="menuToggle">
                <!--
                    A fake / hidden checkbox is used as click reciever,
                    so you can use the :checked selector on it.
                -->
                <input type="checkbox" />
                
                <!--
                    Some spans to act as a hamburger.
                    
                    They are acting like a real hamburger,
                    not that McDonalds stuff.
                -->
                <span></span>
                <span></span>
                <span></span>
                
                <!--
                    Too bad the menu has to be inside of the button
                    but hey, it's pure CSS magic.
                -->
                <ul id="menu">
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Info</li>
                    </a>
                    <a href="#">
                        <li>Contact</li>
                    </a>
                    <a href="https://erikterwan.com/" target="_blank">
                        <li>Show me more</li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="title">
        Forum Project
    </div>
    <!-- <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div> -->
    
    <div class="nav-links">
        <a href="login" target="_blank">Sign In</a>
        
        <a href="register" target="_blank">Sign Up</a>
    </div>
</div>
{{end}}