{{define "navbar"}}

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-title">
        <nav role="navigation">
            <div id="menuToggle">
                <!--
                    A fake / hidden checkbox is used as click reciever,
                    so you can use the :checked selector on it.
                -->
                <input type="checkbox" />
                
                <!--
                    Some spans to act as a hamburger.
                    
                    They are acting like a real hamburger,
                    not that McDonalds stuff.
                -->
                <span></span>
                <span></span>
                <span></span>
                
                <!--
                    Too bad the menu has to be inside of the button
                    but hey, it's pure CSS magic.
                -->
                <ul id="menu">
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Info</li>
                    </a>
                    <a href="#">
                        <li>Contact</li>
                    </a>
                    <a onclick="window.location.href='/Therms-of-use'" target="_blank">
                        <li>Therms of use</li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="title">
        Forum Project
    </div>
  
    <div class="nav-links">
        
        <a id="signin" href="#" >Sign In</a>
        <a id="signup" href="#" >Sign Up</a>
        <!-- <a href="register" target="_blank">Sign Up</a> -->
    </div>
    {{template "login"}}
    {{template "signup"}}
    <script>
        document.getElementById('signin').addEventListener('click', () => {
            document.getElementById('popup').showModal()
        })
        document.getElementById('signup').addEventListener('click', () => {
            document.getElementById('wrapper').showModal()
        })
        
    </script>
</div>
{{end}}