{{define "post"}}
    <dialog id="popup-Form" >
      <a class="close" href="/drugs">&times;</a>
      <div class="hehe">
        <h3>Crée votre Post !!!</h3>
      </div>
            <div class="Catégories">
              <p>Catégories:</p>
              <div class="box">
                <select>
                  <option>Drugs</option>
                  <option>Erotica</option>
                  <option>Counterfeit</option>
                  <option>Tutorials</option>
                  <option>Guns</option>
                  <option>SoftWare</option>
                  <option>Games</option>
                  <option>JSP</option>
                </select>
              </div>
            </div>
              
              </div>
              <div class="Titre">
                <input type="text" placeholder="Le Titre " class="titre"></input>
              </div> 
              <div class="Description">
                <input type="text" placeholder="Description" class="description"></input>
              </div> 
              <button id="submit">Crée le post</button>            
              
  
          </div>
    {{end}}

    <script type="text/javascript" src="Assets/newpost.js"></script>