{{define "post"}}
<dialog id="popup-Form">
  <form class="close" method="dialog">
    <button value="cancel">&times;</button>
  </form>
  <div class="hehe">
    Crée votre Post !!!
  </div>
  <div class="Catégories">
    <p>Catégories:</p>
    <div class="box">
      <select id="categorie">
        <option>Drugs</option>
        <option>Erotica</option>
        <option>Counterfeit</option>
        <option>Tutorials</option>
        <option>Guns</option>
        <option>SoftWare</option>
        <option>Games</option>
        <option>Services</option>
      </select>
    </div>
  </div>

  </div>
  <div class="Titre">
    <input type="text" placeholder="Le Titre " id="title"></input>
  </div>
  <div class="Description">
    <input type="text" placeholder="Description" id="description"></input>
  </div>
  <button onclick="newPost()" id="submit">Crée le post</button>


  </div>
</dialog>
<div id="current_date">
  </p>
  <!-- function in charge of registering a new post into the DB -->
  <script>
    function newPost() {
      let title = document.getElementById("title").value;
      let categorie = document.getElementById("categorie").value;
      let description = document.getElementById("description").value;
      let date = new Date();
      year = date.getFullYear();
      month = date.getMonth() + 1;
      day = date.getDate();
      document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
      console.log(title);

      fetch("/newPost",
        {
          method: "POST",
          headers: {
            "content-type": "application/json"
          },
          body: JSON.stringify({
            date: date,
            categorie: categorie,
            title: title,
            description: description
          })
        }).then((res) => {
          console.log(res);
          return res.json()
        })
        .then((res) => {
          const abs = document.getElementById("absolute")

          abs.innerText = res.test
        })
    }
  </script>
  {{end}}