<dialog id="wrapper" class="wrapper">
    
    
    <section class="wrapper">
        <!-- <h2 class="title">Welcome to our family</h2> -->
        <div class="container">
            <a href="/" class="close"></a>
            <!-- <div class="img_logo">
                <img src="../Static/logo.png" alt="salad" class="img">
            </div> -->
            <div class="img__container">
                
                <img src="../Static/members.png" alt="salad" class="img">
            </div>
            
            <div class="content">
                <h1 class="subtitle"> Welcome To AAA</h1>
                <h2>Sign Up</h2>
                <input type="text" placeholder="Write a name" id="Name">
                <input type="text" placeholder="Write an email" id="Email">
                <input type="text" placeholder="Write a password" id="Password">
                <input type="text" placeholder="Confirm your password" id="ConfirmPassword">
                <button onclick="newUser()" id="newtask">New Task</button>
            </div>
        </div>
    </section>

<script>
    function newUser() {
        console.log(document.getElementById("Name").value)
        let name = document.getElementById("Name").value;
        let email = document.getElementById("Email").value;
        let password = document.getElementById("Password").value;
        let confirmPassword = document.getElementById("ConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Your password don't match !")
        } else {
            fetch("/registerApi",
                {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify({
                        name: name,
                        email: email,
                        password: password,
                        userConfirmPassword: password
                    })
                }).then((res) => {
                    console.log(res);
                    return res.json()
                })
                // .then((data) => {
                    // console.log({data});
                    // if(data.error === "UNIQUE constraint failed: users.email") {
                    //     console.log("test")
                    // }else{
                    //     console.log("réussi")
                    // }
                    // const abs = document.getElementById("absolute")

                    // abs.innerText = res.test
                // })
        }
    }
</script>
</dialog>