<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Static/Drugs.css" type="text/css">
    <link rel="stylesheet" href="/Static/footer.css" type="text/css">
    <link rel="stylesheet" href="/Static/navbargen.css" type="text/css">
    <link rel="stylesheet" href="/Static/Post.css" type="text/css">
    <link rel="stylesheet" href="/Static/Postblock.css" type="text/css">
    <link rel="stylesheet" href="/Static/CompletePosts.css" type="text/css">


    <link rel="icon" type="image/png" sizes="16x16" href="/Static/Capture d’écran 2022-05-31 à 16.29.49.png">
    <title>JSP</title>
</head>

<body>
    {{template "navbar"}}
    <div class="containersize2">
        <div class="text3">
            Categories :
        </div>
        <div class="button1">

            <button onclick="window.location.href='/drugs'" class="btn1">Drugs</button>
            <button onclick="window.location.href='/erotica'" class="btn2">Erotica</button>
            <button onclick="window.location.href='/counterfeit'" class="btn1">Counterfeit</button>
            <button onclick="window.location.href='/tutorials'" class="btn2">Tutorials</button>
            
        </div>
        <div class="button2">
            <button onclick="window.location.href='/guns'" class="btn2">Guns</button>
            <button onclick="window.location.href='/software'" class="btn1">SoftWare</button>
            <button onclick="window.location.href='/games'" class="btn2">Games</button>
            <button onclick="window.location.href='/jsp'" class="btn1">JSP</button>
        </div>
    </div>

    <h1>JSP</h1>
    <h2> F I L T E R S </h2>
    <div class="postss">
    </div>

    <!-- POST -->

    <a id="poost">Create New Post</a>
    <!-- <button onclick="newPost()" id="newPost"> Create New Post</button> -->
    <div id="postList">
        {{range .}}
        {{template "postBlock" .}}

        {{template "completePost" .}}
        {{end}}
    </div>
    {{template "footer"}}
    {{template "post"}}

    


</body >
<script>
    document.getElementById('poost').addEventListener('click', () => {
        document.getElementById('popup-Form').showModal()
    })

</script>

</html>